/*-----------COLORS-----------*/

/*
interface: #fff;
main: #070707;
secondary: #101010;
grey code: #606060;
*/

/*-----------GENERAL-----------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto";
	background-color: #101010;
	overflow-x: hidden;
}

a {
	display: inline;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

a:hover {
	text-decoration: underline;
}

::selection {
	color: #fff;
	background: rgba(16, 16, 16, 0.99);
}

::-moz-selection {
	color: #fff;
	background: rgba(16, 16, 16, 0.99);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #101010;
}

::-webkit-scrollbar-thumb {
	background-color: #070707;
}

.spacer {
	width: 100%;
	height: 40px;
}

/*-----------HEADER-----------*/
#header {
	margin-bottom: 30px;
}

.divider {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title,
.site,
.dot {
	font-size: 20pt;
}

.site {
	float: right;
	clear: right;
}

.dot {
	display: inline-block;
	color: #fff;
	margin: 0;
	padding: 0;
}

/*-----------STATIC (BODY + FOOTER)-----------*/
#body {
	position: relative;
	width: 100%;
	min-width: 550px;
	background-color: #070707;
}

#footer {
	width: 100%;
	min-width: 550px;
	background-color: #101010;
}

#body-content,
#footer-content {
	max-width: 1675px;
	padding: 50px;
	padding-bottom: 30px;
	margin: auto;
}

#footer-content {
	overflow: auto;
	height: 155px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-image {
	width: 30px;
	margin-right: 10px;
	opacity: 0.2;
}

.footer-image:hover {
	opacity: 1;
}

.footer-left,
.footer-right {
	width: 299px;
	height: 75px;
	float: left;
	clear: left;
}

.footer-right {
	width: 150px;
	float: right;
	clear: right;
}

.footer-text,
.footer-stats {
	display: block;
	color: #fff;
	margin-top: 10px;
	font-weight: 300;
	font-size: 10pt;
}

.footer-stats {
	margin-top: 0px;
	text-align: right;
}

/*-----------MEASURE-----------*/
.measure-container {
	display: inline-block;
	width: 300px;
	height: 140px;
	margin: 40px;
	padding: 15px;
}

.measure-circle {
	width: 50%;
	height: 100%;
}

.measure-info {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	clear: right;
}

.measure-title {
	color: #fff;
	font-size: 17pt;
}

.measure-text {
	color: #606060;
	font-size: 10pt;
	font-weight: 300;
	margin: 1px;
}

/*-----------LOGLIST-----------*/
.loglist-container {
	width: 100%;
	height: 50px;
	margin: 5px;
	margin-left: 3px;
	margin-right: 0px;
}

.loglist-date,
.loglist-time,
.loglist-info,
.loglist-details {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	color: #606060;
}

.loglist-date {
	width: 11%;
	min-width: 100px;
	color: #fff;
}

.loglist-time {
	width: 10%;
	min-width: 55px;
}

.loglist-info {
	width: 15%;
	min-width: 120px;
	color: #fff;
}

.loglist-details {
	width: 40%;
	min-width: 200px;
}

.loglist-text {
	margin: 0px;
	color: inherit;
	font-size: 10pt;
	font-weight: 300;
}

/*-----------TIMELINE-----------*/
.timeline-container {
	position: relative;
	width: 100%;
	height: 40px;
	margin: auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.timeline {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 20px;
	background-color: #fff;
}

.timeline-marker-begin,
.timeline-marker-end {
	position: absolute;
	width: 2px;
	height: 40px;
	top: 0px;
	background-color: #fff;
}

.timeline-marker-begin {
	left: 0px;
}

.timeline-marker-end {
	right: 0px;
}

.timeline-date-begin,
.timeline-date-end {
	display: inline-block;
	margin: 0px;
	width: 70px;
	color: #fff;
	font-size: 10pt;
	font-weight: 300;
}

.timeline-date-end {
	float: right;
	clear: right;
	text-align: right;
}

.timeline-circle-container {
	position: absolute;
	width: 90%;
	width: calc(100% - 32px);
	height: 40px;
}

.timeline-circle {
	position: absolute;
	top: 4px;
	width: 32px;
	height: 32px;
}

/*-----------SPEC PAGE-----------*/
.spec-title {
	font-size: 20pt;
	color: #fff;
	margin-bottom: 20px;
}

.spec-stats {
	width: 70px;
	float: right;
	clear: right;
	vertical-align: bottom;
	text-align: right;
}

.spec-text {
	display: block;
	margin: 0px;
	color: #606060;
	font-size: 10pt;
	font-weight: 300;
}

/*-----------MEDIA-----------*/
@media (max-width: 817px) {
	.loglist-details {
		display: none;
	}
}