/*-----------GENERAL-----------*/
html {
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	background-color: #000;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto";
	color: #777;
	background-color: #f7f7f7;
	overflow-x: hidden;
	font-size: 13px;
	font-weight: 300;
}

a {
	display: inline;
	text-decoration: none;
	font-weight: 400;
	color: #000;
}

a:hover {
	background-color: #dadada;
}

::-moz-selection {
	color: #000;
	background: #ccc;
}

::selection {
	color: #000;
	background: #ccc;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	background-color: #bbb;
}

/*-----------HEADER-----------*/
#header {
	padding: 40px;
}

.log-title,
.site {
	font-size: 26px;
}

.site {
	float: right;
	clear: right;
}

/*-----------STATIC (BODY + FOOTER)-----------*/
#body {
	width: 100%;
}

#body-content {
	max-width: 1450px;
	margin: auto;
}

#body-content {
	padding-top: 40px;
}

#footer {
	background-color: #000;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	background-color: #777;
}

#footer-content {
	padding: 30px 40px 30px 40px;
	overflow: auto;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
	text-align: right;
}

.footer-text {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}

.footer-right .footer-text {
	margin-right: 0;
	margin-left: 40px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #ccc;
}

/*-----------MEASURE-----------*/
.measures-container {
	padding: 40px 40px 25px 40px;
}

.measures-title {
	display: inline-block;
	font-size: 26px;
	text-align: left;
}

.measure-container {
	display: inline-block;
	width: 24.7%;
	height: 94px;
	margin: 40px 0 40px 0;
	text-align: center;
}

.measure-circle {
	width: 94px;
	height: 94px;
}

.measure-info {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	clear: right;
	text-align: left;
}

.measure-title {
	display: inline-block;
	font-size: 23px;
	margin-bottom: 2px;
	margin-top: 9px;
}

.measure-text {
	margin-bottom: 1px;
}

/*-----------LOGLIST-----------*/
.loglist-container {
	padding: 40px 40px 5px 40px;
}

.loglist-item-container {
	width: 100%;
	height: 50px;
	margin-top: 5px;
}

.loglist-date,
.loglist-time,
.loglist-info,
.loglist-details {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.loglist-date {
	width: 11%;
	min-width: 85px;
}

.loglist-time {
	width: 10%;
	min-width: 35px;
}

.loglist-info {
	width: 15%;
	min-width: 85px;
}

.loglist-details {
	width: 40%;
	min-width: 200px;
}

.loglist-text {
	margin: 0;
	color: inherit;
}

/*-----------TIMELINE-----------*/
.timeline-container {
	position: relative;
	padding: 40px;
}

.timeline-bar-container {
	position: relative;
	width: 100%;
	height: 20px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

.timeline {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 10px;
	background-color: #ccc;
}

.timeline-date-begin,
.timeline-date-end {
	display: inline-block;
	position: absolute;
	left: 40px;
	top: 24px;
}

.timeline-date-end {
	text-align: right;
	right: 40px;
}

.timeline-circle-container {
	position: absolute;
	width: 90%;
	width: calc(100% - 20px);
	height: 20px;
}

.timeline-circle {
	position: absolute;
	width: 20px;
	height: 20px;
}

/*-----------GRAPH-----------*/
.graph-container {
	padding: 40px;
}

.graph-bar-container {
	position: relative;
	width: 100%;
	height: 200px;
	margin: auto;
	overflow: hidden;
}

.graph-day {
	display: inline-block;
	position: relative;
	height: 100%;
}

.graph-bar {
	position: absolute;
	width: 100%;
	border-right: solid 1px #f7f7f7;
	border-radius: 3px;
}

.graph-legend {
	margin-top: 10px;
}

.graph-legend-num {
	margin-right: 10px;
}

.graph-legend-block {
	display: inline-block;
	background-color: #000;
	width: 9px;
	height: 9px;
	border-radius: 2px;
	margin-right: 2px;
}

.graph-stats-text {
	float: right;
	text-align: right;
	margin-left: 10px;
}

/*-----------TITLE-----------*/
.title-container {
	padding: 40px;
}

.title {
	font-size: 26px;
	text-align: left;
}

.title-stats {
	width: 70px;
	float: right;
	clear: right;
	vertical-align: bottom;
	text-align: right;
}

.title-text {
	display: block;
}

/*-----------MEDIA-----------*/
@media (max-width: 1450px) {
	#body-content {
		margin: 0;
	}
}

@media (max-width: 1100px) {
	.measure-container {
		width: 49.5%;
	}
}

@media (max-width: 820px) {
	.loglist-details {
		display: none;
	}

	.loglist-date {
		width: 16%;
	}

	.loglist-time {
		width: 9%;
	}

	.loglist-info {
		width: 28%;
	}
}

@media (max-width: 615px) {
	.measure-container {
		width: 100%;
	}
}

@media (max-width: 410px) {
	.loglist-date {
		width: 11%;
	}

	.loglist-time {
		width: 10%;
	}

	.loglist-info {
		width: 22%;
	}
}