/*-----------COLORS-----------*/

/*
interface: #000;
main: #fff;
secondary: #f7f7f7;
scrollbar: #c1c1c1;
*/

/*-----------GENERAL-----------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto";
	color: #000;
	background-color: #f7f7f7;
	overflow-x: hidden;
}

a {
	display: inline;
	text-decoration: none;
	font-weight: 400;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

::-moz-selection {
	color: #000;
	background: #f7f7f7;
}

::selection {
	color: #000;
	background: #f7f7f7;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
}

.spacer {
	width: 100%;
	height: 40px;
}

/*-----------HEADER-----------*/
#header {
	margin-bottom: 30px;
	text-align: left;
}

.divider {
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #000;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title,
.site,
.dot {
	font-size: 26px;
}

.site {
	float: right;
	clear: right;
}

.dot {
	display: inline-block;
	margin: 0;
	padding: 0;
}

/*-----------STATIC (BODY + FOOTER)-----------*/
#body {
	position: relative;
	width: 100%;
	background-color: #fff;
}

#footer {
	width: 100%;
	background-color: #f7f7f7;
}

#body-content,
#footer-content {
	max-width: 1675px;
	padding: 50px;
	padding-bottom: 30px;
	margin: auto;
}

#footer-content {
	overflow: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.footer-image {
	width: 30px;
	margin-right: 10px;
	opacity: 0.3;
}

.footer-image:hover {
	opacity: 1;
}

.footer-left,
.footer-right {
	width: 250px;
	height: 75px;
	float: left;
	clear: left;
}

.footer-right {
	width: 140px;
	float: right;
	clear: right;
}

.footer-text,
.footer-stats {
	display: block;
	margin-top: 10px;
	font-weight: 300;
	font-size: 13px;
}

.footer-stats {
	margin-top: 0px;
	text-align: right;
}

/*-----------MEASURE-----------*/
.measure-container {
	display: inline-block;
	width: 24.7%;
	height: 110px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.measure-circle {
	width: 110px;
	height: 110px;
}

.measure-info {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	clear: right;
	text-align: left;
}

.measure-title {
	font-size: 23px;
	margin-bottom: 2px;
}

.measure-text {
	font-size: 13px;
	font-weight: 300;
	margin: 1px;
}

/*-----------LOGLIST-----------*/
.loglist-container {
	width: 100%;
	height: 50px;
	margin: 5px;
	margin-left: 3px;
	margin-right: 0px;
}

.loglist-date,
.loglist-time,
.loglist-info,
.loglist-details {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
}

.loglist-date {
	width: 11%;
	min-width: 85px;
}

.loglist-time {
	width: 10%;
	min-width: 35px;
}

.loglist-info {
	width: 15%;
	min-width: 85px;
}

.loglist-details {
	width: 40%;
	min-width: 200px;
}

.loglist-text {
	margin: 0px;
	color: inherit;
	font-size: 13px;
	font-weight: 300;
}

/*-----------TIMELINE-----------*/
.timeline-container {
	position: relative;
	width: 100%;
	height: 40px;
	margin: auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.timeline {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 20px;
	background-color: #000;
}

.timeline-marker-begin,
.timeline-marker-end {
	position: absolute;
	width: 1px;
	height: 40px;
	top: 0px;
	background-color: #000;
}

.timeline-marker-begin {
	left: 0px;
}

.timeline-marker-end {
	right: 0px;
}

.timeline-date-begin,
.timeline-date-end {
	display: inline-block;
	margin: 0px;
	width: 70px;
	font-size: 13px;
	font-weight: 300;
}

.timeline-date-end {
	float: right;
	clear: right;
	text-align: right;
}

.timeline-circle-container {
	position: absolute;
	width: 90%;
	width: calc(100% - 32px);
	height: 40px;
}

.timeline-circle {
	position: absolute;
	top: 4px;
	width: 32px;
	height: 32px;
}

/*-----------GRAPH-----------*/
.graph-legend-text,
.graph-legend-num,
.graph-stats-text {
	font-size: 13px;
	font-weight: 300;
}

.graph-legend-num {
	margin-right: 8px;
}

.graph-stats-text {
	float: right;
	text-align: right;
	margin-left: 8px;
}

/*-----------LONG GRAPH-----------*/
.long-graph-container {
	position: relative;
	width: 100%;
	height: 200px;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: solid 1px #000;
}

.long-graph-day {
	display: inline-block;
	margin: 0px;
	height: 100%;
}

.long-graph-bar {
	position: absolute;
	margin: 0px;
	height: 100%;
	width: 50px;
}

.graph-legend {
	width: 100%;
	height: 20px;
	margin-top: 10px;
}

/*-----------TITLE-----------*/
.title {
	font-size: 26px;
	margin-bottom: 20px;
	text-align: left;
}

.title-stats {
	width: 70px;
	float: right;
	clear: right;
	vertical-align: bottom;
	text-align: right;
}

.title-text {
	display: block;
	margin: 0px;
	font-size: 13px;
	font-weight: 300;
}

/*-----------MEDIA-----------*/
@media (max-width: 1150px) {
	.measure-container {
		width: 49.5%;
	}
}

@media (max-width: 820px) {
	.loglist-details {
		display: none;
	}

	.loglist-date {
		width: 16%;
	}

	.loglist-time {
		width: 9%;
	}

	.loglist-info {
		width: 28%;
	}
}

@media (max-width: 615px) {
	.measure-container {
		width: 100%;
	}

	#body-content,
	#footer-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 440px) {
	.footer-right {
		float: none;
		height: auto;
	}

	.footer-left {
		float: none;
		margin-bottom: 20px;
	}

	.footer-stats {
		text-align: left;
	}
}

@media (max-width: 410px) {
	.loglist-date {
		width: 11%;
	}

	.loglist-time {
		width: 10%;
	}

	.loglist-info {
		width: 22%;
	}
}